<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>
<body>

<h2>Список товаров</h2>
<ul>
  {% for product in products %}
    <li>{{ product.name }} — {{ product.price }} ₽
        <a href="{% url 'product_edit' product.pk %}">Редактировать</a> |
        <a href="{% url 'product_delete' product.pk %}">Удалить</a>
    </li>
  {% empty %}
    <li>Нет товаров</li>
  {% endfor %}
</ul>
<a href="{% url 'product_add' %}">Добавить товар</a> |
<a href="{% url 'logout' %}">Выйти</a>

</body>
</html>